@import './stylesheets/editor.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply text-text-100 bg-bg-100;
	}

	h1 {
		@apply text-3xl font-bold;
	}

	h2 {
		@apply text-2xl font-bold;
	}

	h3 {
		@apply text-xl font-bold;
	}

	h4 {
		@apply text-lg font-bold;
	}

	h5 {
		@apply text-base font-bold;
	}

	h6 {
		@apply text-sm font-bold;
	}
}

.div-input[contenteditable='true']:empty:before {
	content: attr(data-placeholder);
	pointer-events: none;
	display: block;
	color: #707684;
}
